table {
    border-collapse: collapse;
}
th, td {
    padding: 10px 50px 10px 5px;
    text-align: right;
    font-family: sans-serif;
    font-size: small;
}
th {
    color: #4EA372;
    background-color: #faffba;
    border-top: 5px solid #faffba;
}
td {
    color: #4EA372;
    background-color: #faffba;
    border-top: 3px solid #faffba;
}